@model RepositoryT.RavenDb.Mvc4AutofacUOWSample.Models.BookmarksByTagViewModel
@{ ViewBag.Title = "Tag"; }

<h2>With tag @Model.Tag</h2>
<p>
    @Html.ActionLink("Full List", "Index")
</p>
@{Html.RenderPartial("BookmarksList", Model.Bookmarks);}