a { text-decoration:none; color:#0000FF; }
a:hover { text-decoration:underline; color:#0000FF; }
a:visited { color:#0000FF; }
.Bookmarks { list-style:none; margin:0; padding:0; }
.Bookmarks > li { margin-bottom:10px; border-bottom:1px solid #ccc; }
.Title { font-size:1.2em; }
.Url { padding-bottom:4px; }
.Url a { color:#666; }
.DateCreated { color:#999; font-size:.8em; font-style:italic; padding-bottom:4px; }
.Description { padding:4px 0 8px 0; }
.Tags { list-style:none; display:block; margin:0; padding:0; height:28px; }
.Tags li { float:left; display:block; padding-right:6px; }
.Tags li:hover { cursor:pointer; }
.Tags li a { color:#333; display:block; padding:2px 8px 2px 8px; background-color:#ebebeb; }
.Tags li a:hover { text-decoration:none; }
.Tags li:hover a { color:#fff; background-color:#333; }
.Actions { list-style:none; display:block; margin:0 0 6px 0; padding:0; height:16px; line-height:16px; }
.Actions li { float:left; padding:0 6px 0 6px; border-left:1px solid #666; }
.Actions li:first-child { border:0; padding-left:0; }
.Actions li a { text-transform:uppercase; font-size:.8em; }
.FieldsWithLabels dt { float:left; width:90px; text-align:right; height:28px; font-weight:bold; }
.FieldsWithLabels dd { margin-left:96px; height:28px; }
.FieldsWithLabels dd input[type=text] { width:360px; }